.navi {
  background-color: #ffffff;
}
.test {
  background-color: burlywood;
  height: 800px;
  opacity: 0;
}
.padingg {
  padding-bottom: 250px;
}
.Cont-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  height: 20vh;
  margin-right: auto;
  margin-left: auto;
  margin: 2.5%;
  margin-bottom: -30px;
  background-color: white;
  border-radius: 10px;
}
.titlu {
  color: black;
  font-size: 30px;
}
.rank {
  color: black;
  font-size: 24px;
  margin-left: 20vw;
}
